<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="dev,local,test">
        <include resource="logback/logback-dev.xml"/>
    </springProfile>
    <springProfile name="prod">
        <include resource="logback/logback-prod.xml"/>
    </springProfile>
</configuration>